---
import Heading from "./Heading.astro";

const heading = "Alcune cose di cui mi occupo";

const sections = [
  "Progettazione e Pianificazione",
  "Direzione Lavori e Gestione Cantiere",
  "Consulenza Tecnica",
  "Sicurezza e Ambiente",
  "Burocrazia e Certificazioni",
  "Innovazione e Sostenibilità"
];

const sectionsText = [
  "Dalla prima idea alla realizzazione del progetto. Offro servizi di progettazione architettonica, strutturale e impiantistica, garantendo soluzioni innovative e sostenibili.(Studi di fattibilità, Progettazione esecutiva CAD e BIM, calcoli strutturali)",
  "Seguo da vicino ogni fase del cantiere, assicurando la qualità dei lavori, il rispetto dei tempi e del budget.(Coordinamento della sicurezza, gestione delle forniture, controllo qualità, collaudi, contabilità lavori)",
  "Metto a disposizione la mia esperienza per risolvere problematiche tecniche complesse e fornire consulenze specializzate.(Perizie tecniche, diagnosi di patologie edilizie, diagnosi energetiche, supporto alle imprese, analisi dei rischi)",
  "Garantisco la massima sicurezza sul lavoro e il rispetto dell'ambiente.(Valutazione dei rischi, piani di sicurezza e coordinamento della sicurezza)",
  "Fornisco certificazioni e ti accompagno nell'iter burocratico, semplificando le procedure e ottenendo le necessarie autorizzazioni.(APE, Enea, Allaccio Fotovoltaico, Pratiche edilizie, Certificazioni energetiche, collaudi statici, pratiche catastali)",
  "Sono sempre alla ricerca di soluzioni innovative e sostenibili per rispondere alle esigenze di un mondo in continua evoluzione.(Progettazione di edifici a basso impatto ambientale, utilizzo di materiali eco-compatibili, implementazione di sistemi di domotica, progettazione di impianti fotovoltaici)"
];
---

<div class="mb-12 bg-stone-100 dark:bg-slate-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <Heading heading={heading} />
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
    >
      {
        sections.map((section) => {
          return (
            <div class="flex flex-col">
              <div class="mt-6">
                <h3 class="text-lg font-medium text-gray-900 dark:text-white">
                  {sections[sections.indexOf(section)]}
                </h3>
                <p class="mb-8 mt-2 text-lg text-gray-700 dark:text-gray-400">
                  {sectionsText[sections.indexOf(section)]}
                </p>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
