---
import Heading from "./Heading.astro";

const heading = "Alcune cose di cui mi occupo";

const icon = [
  "icons/progettazione.png",
  "icons/cantiere.png",
  "icons/consulenza.png",
  "icons/sicurezza.png",
  "icons/certificazioni.png",
  "icons/enviroment.png"


]

const sections = [
  "Progettazione e Pianificazione",
  "Direzione Lavori e Gestione Cantiere",
  "Consulenza Tecnica",
  "Sicurezza e Ambiente",
  "Burocrazia e Certificazioni",
  "Innovazione e Sostenibilità"
];

const sectionsText = [
  "Offro soluzioni innovative per progetti architettonici, strutturali e impiantistici, dal concept alla realizzazione.",
  "Supervisiono lavori garantendo qualità, tempi e budget.",
  "Risolvo problemi complessi e fornisco supporto specializzato.",
  "Assicuro sicurezza sul lavoro e rispetto delle norme ambientali.",
  "Semplifico pratiche burocratiche e rilascio certificazioni necessarie.",
  "Progetto edifici ecocompatibili con materiali e tecnologie avanzate."
];
---

<div class="mb-12 bg-stone-100 dark:bg-slate-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <Heading heading={heading} />
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
    >
      {
        sections.map((section) => {
          return (
            <div class="flex flex-col">
              <div class="mt-6">
                <img class="scale-50" src={icon[sections.indexOf(section)]}> 
                <h3 class="text-lg font-medium text-gray-900 dark:text-white">
                  {sections[sections.indexOf(section)]}
                </h3>
                <p class="mb-8 mt-2 text-lg text-gray-700 dark:text-gray-400">
                  {sectionsText[sections.indexOf(section)]}
                </p>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
