---
import Heading from "./Heading.astro";

const heading = "Le tappe del mio lavoro";
const dates = ["Ottobre 2020", "Luglio 2023", "Ottobre 2023"];
const info = [
  "Manager [Climasolservice Srl]",
  "Ingegnere [Climasolservice Srl]",
  "Inizio percorso sulla Sicurezza",
];
const details = [
  "Come manager presso Climasolservice Srl, ho guidato diverse iniziative strategiche che hanno contribuito a ottimizzare le operazioni aziendali. Tra i miei principali traguardi figurano l'introduzione di un sistema CRM per migliorare la gestione delle relazioni con i clienti, l'investimento e l'acquisizione di un nuovo magazzino e la progettazione del suo layout per massimizzare l'efficienza operativa. Inoltre, mi occupo dello studio, monitoraggio e aggiornamento continuo delle opportunità di business legate a incentivi fiscali, come i bonus, al fine di garantire una costante crescita aziendale.",
  "Dopo aver conseguito la laurea a marzo 2023, ho studiato per ottenere l'abilitazione e mi sono iscritto all'Ordine degli Ingegneri di Catania. Successivamente, ho iniziato ad applicare le mie conoscenze tecniche per implementare la mia attività di progettazione all'interno dei diversi settori aziendali di Climasolservice Srl. Ho frequentato diversi corsi di progettazione organizzati dal CNI e da vari enti e aziende del settore, ampliando così le mie competenze. Grazie a queste esperienze, ho iniziato a offrire servizi di ingegneria personalizzati ai clienti dell'azienda, contribuendo alla crescita e all'innovazione aziendale.",
  "A ottobre 2023 ho deciso di proseguire il mio percorso formativo iscrivendomi al corso di laurea in Ingegneria della Sicurezza (LM-26). Questa scelta mi ha permesso di approfondire le mie competenze in ambito di sicurezza, sia a livello progettuale che operativo. Parallelamente, ho iniziato a collaborare con diversi professionisti, tra cui lo studio dell'Ingegnere Franchina a Catania, e ho avviato attività di progettazione anche presso Climasolservice Srl, integrando le nuove conoscenze acquisite direttamente nei progetti aziendali.",
];
---

<Heading heading={heading} />
<div class="mb-12 px-8">
  <ol class="relative border-l border-gray-200 dark:border-gray-700">
    {
      dates.map((date) => {
        return (
          <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 bg-primary rounded-full mt-1.5 -left-1.5 border border-white " />
            <time class="mb-1 text-sm font-normal leading-none text-primary dark:text-white">
              {date}
            </time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              {info[dates.indexOf(date)]}
            </h3>
            <p class="mb-4 text-base font-normal text-gray-700 dark:text-gray-400">
              {details[dates.indexOf(date)]}
            </p>
          </li>
        );
      })
    }
  </ol>
</div>
